*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navBar */
#navBar{
    height: 50px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
}
#name{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#name a{
    color: white;
    text-decoration: none;
    padding-right: 20px;
}
/* slider */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 500px; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.mySwiper{
    height: 800px;
}
#box{
  height: 100px;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* partical */
#canvas{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) #222;
}


